/*Css File Trainning*/

:root {
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f9433dcc;
  --lighblue: #4c7fd6;
}

body {
  background-color: #f1f1f1;
}

.main {
  display: block;
  max-width: 1240px;
  margin: 0 auto;
  color: var(--darkgray);
}

.trainning {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding: 40px 40px 125px;
  text-align: center;
}

.trainning h1 {
  font-size: 30px;
  padding: 50px 0 15px;
  font-weight: bold;
}

.trainning hr {
  color: var(--darkgray);
}

.trainning h2 {
  font-size: 20px;
  padding: 50px 0 40px;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

.wrapper .image {
  width: 50%;
  height: auto;
  align-self: center;
  padding: 10px;
}

.wrapper .frase {
  font-size: 17px;
  width: 50%;
  align-self: center;
  padding: 15px 15px 15px 30px;
}

.trainning p {
  font-size: 17px;
  text-align: justify;
  padding: 10px 0;
}

#picture {
  max-width: 100%;
  height: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

.trainning h3 {
  font-size: 20px;
  padding: 60px 0 0;
  font-weight: bold;
}

@media screen and (max-width: 560px) {
  .trainning {
    padding: 20px 40px 50px;
  }

  .trainning h1 {
    font-size: 19px;
    padding: 30px 0 15px;
    font-weight: bold;
  }

  .wrapper {
    display: block;
    margin: 0 auto;
    padding: 35px 0 0;
  }

  .wrapper .image {
    width: 100%;
    height: auto;
  }

  .wrapper .frase {
    width: 100%;
    padding: 40px 0 0;
    text-align: center;
  }

  p {
    padding: 10px 10px;
    font-size: 16px;
  }

  .description {
    padding: 20px 0;
    text-align: justify;
  }
}
