/*Css File Home*/

:root {
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f9433dcc;
  --lighblue: #4c7fd6;
}

body {
  background-color: #f1f1f1;
}

.main {
  display: block;
  max-width: 1240px;
  margin: 0 auto;
  color: var(--darkgray);
}

.home {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 40px 125px;
  text-align: center;
}

.home h1 {
  font-size: 30px;
  padding: 50px 0 0;
  font-weight: bold;
}

.home h2 {
  font-size: 20px;
  padding: 50px 0 40px;
}

.home h3 {
  font-size: 20px;
  padding: 80px 0 30px;
  font-weight: bold;
}

.home h4 {
  font-size: 20px;
  padding: 40px 0 30px;
  font-weight: bold;
}

.home p {
  padding: 10px;
  font-size: 17px;
  text-align: justify;
}

.home .list {
  display: flex;
  padding: 30px 0 70px;
}

.home li {
  padding: 0 25px;
}

#content {
  max-width: 100%;
  height: auto;
}

.home .video {
  display: block;
  margin: 0 auto;
}

#video-present {
  width: 100%;
  height: auto;
}

.home .button a {
  background-color: var(--brightred);
  color: var(--white);
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 6px;
  border: solid 1px var(--white);
  transition: all 0.3s ease-out;
}

.home .button:hover a {
  background-color: var(--white);
  color: var(--darkgray);
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 6px;
  border: solid 1px var(--brightred);
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 900px) {
  .home .list {
    display: grid;
    grid-row: inherit;
  }

  #content {
    max-width: 250px;
  }

  .home li {
    padding: 20px 25px;
  }
}

@media screen and (max-width: 860px) {
}

@media screen and (max-width: 480px) {
  .home h1 {
    font-size: 20px;
  }

  .home h2 {
    font-size: 16px;
    padding: 35px 0 20px;
  }

  .home h3 {
    font-size: 16px;
    padding: 40px 0 30px;
  }

  .home h4 {
    font-size: 17px;
    padding: 20px 0 30px;
  }

  .home p {
    padding: 10px;
    font-size: 16px;
  }

  .home li {
    padding: 15px 0;
  }
}

@media screen and (max-width: 320px) {
}
