/*Css File Contact Form*/

.contactform {
  padding: 40px 0 125px;
}

.contactform h1 {
  font-size: 25px;
  padding: 50px 0 40px;
  font-weight: bold;
}

.contactform form {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.contactform li {
  padding: 10px 0;
}

.contactform input {
  width: 300px;
}

.contactform textarea {
  min-height: 150px;
  max-height: 300px;
  width: 300px;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 4px rgb(255, 0, 0, 0.5);
  border: solid 1px var(--brightred);
}

button {
  background-color: var(--lightblue);
  color: var(--white);
  padding: 5px;
  font-size: 17px;
  border-radius: 8px;
  border: solid 1px var(--darkgray);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--white);
  color: var(--darkgray);
  font-weight: bold;
  border: solid 1px var(--lighblue);
  transition: all 0.3s ease-in-out;
}

#button {
  padding-top: 40px;
}

@media screen and (max-width: 480px) {
  .contactform h1 {
    font-size: 20px;
    padding: 70px 0 40px;
  }

  .contactform input {
    width: 200px;
  }

  .contactform textarea {
    min-height: 150px;
    max-height: 250px;
    width: 200px;
  }

  #button {
    padding: 20px 0 25px;
  }

  button {
    font-size: 16px;
  }
}
