/*Css File Articles*/

:root {
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f9433dcc;
  --lighblue: #4c7fd6;
}

body {
  background-color: #f1f1f1;
}

.main {
  display: block;
  max-width: 1240px;
  margin: 0 auto;
  color: var(--darkgray);
}

.articles {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding: 40px 0 125px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.wrapper .data {
  width: 30%;
  text-align: left;
  font-size: 18px;
}

.wrapper .article-list {
  display: flex;
}

.wrapper .share {
  padding: 5px 15px 0 0;
  text-align: left;
  align-content: center;
}

.wrapper .icon {
  padding: 0 10px 0 0;
  width: 40px;
  min-width: 25px;
}

.wrapper hr {
  opacity: 0.3;
  width: 100%;
}

.wrapper .description {
  width: 60%;
  border-left: solid 1px lightgrey;
}

.wrapper h2 {
  font-size: 20px;
  color: var(--lighblue);
  font-weight: bold;
  text-align: left;
  padding: 0 25px;
}

.wrapper img {
  padding: 25px;
  max-width: 100%;
}

.wrapper .paragraph {
  padding: 0 25px;
}

.wrapper p {
  font-size: 17px;
  text-align: justify;
  padding: 10px 0;
}

@media screen and (max-width: 900px) {
  .articles {
    max-width: 100%;
    padding: 40px 40px 125px;
    text-align: center;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }
}

@media screen and (max-width: 760px) {
  .wrapper h2 {
    font-size: 18px;
  }

  .wrapper p {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: block;
    margin: 0 auto;
    padding: 50px 40px;
  }

  .wrapper .data {
    width: 100%;
    text-align: left;
    font-size: 16px;
  }

  .wrapper .description {
    width: 100%;
    border-left: 0;
    padding: 25px 0;
  }

  .wrapper h2 {
    font-size: 17px;
    padding: 0;
  }

  .wrapper img {
    padding: 25px 0;
    max-width: 100%;
  }

  .wrapper .paragraph {
    padding: 0 0;
  }
}

@media screen and (max-width: 320px) {
}
